@import "./font";
$defaultcolor: #606060;

.main{
  color: $defaultcolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  margin-bottom: 70px;
  @media screen and(max-width:960px) {
    padding-top: 70px;
  }
  @extend .minamoto_light;
  .pagetitle{
    h2{
      font-weight: normal;
      font-size: 4em;
    }
    margin-bottom: 105px;
  }
  .articles{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    align-items: center;
    @media screen and(max-width:960px) {
      justify-content: space-around;
    }
    .link{
      min-width: 280px;
      height: 100px;
      width: 29%;
      margin: 2%;
      @media screen and(max-width:1122px) {
        width: 46%;
      }
      margin-bottom: 40px;
      border: solid 1px rgb(190, 190, 190);
      background-color: #fdfdfd;
      display: flex;
      .text{
        width: 100%;
        height: 100%;
        align-self: center;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        font-size: 2.5em;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: $defaultcolor;
      }
    }
  }
}